# Thông tin đăng nhập UTH Moodle (Cách 1)
MOODLE_USERNAME=2251120000
MOODLE_PASSWORD=mat_khau_moodle

# Hoặc Cookie MoodleSession từ trình duyệt (Cách 2)
# MOODLE_SESSION=ia43dekqloq60a5dtgrpl9fqv9

# ID của Google Calendar (mặc định 'primary')
GOOGLE_CALENDAR_ID=primary

# Token Google Calendar cho GitHub Actions (Mã hóa Base64)
# GOOGLE_TOKEN_BASE64=...
